%header
  .navbar.navbar-wp{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.navbar-toggle-aside-menu{type: "button"}
          %i.fa.fa-outdent.icon-custom
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, title: "Reflections and Duty", class: "navbar-brand" do
          Reflections
          %span &amp;
          Duty
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.dropdown
            = nav_link "Blog", posts_path, /^\/blog/

        %ul.nav.navbar-nav.navbar-right.hidden-xs
          %li
            %a.social-link.facebook{href: "#", title: "Facebook"}
              %i.fa.fa-facebook
          %li
            %a.social-link.pinterest{href: "#", title: "Pinterest"}
              %i.fa.fa-pinterest
          %li
            %a.social-link.twitter{href: "#", title: "Twitter"}
              %i.fa.fa-twitter
      / /.nav-collapse
