# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3c760ae4862caf0d28774d8c50daa539ebbd4269fc1180c024d58904c7d71e74fa6376eef5688b449b6970d235be3ca1af1a5cf6eee183568098f17364851018

test:
  secret_key_base: bc4c97fa70a69af543fadf2c7f0cc4e32f50d07e04c981077871876fbb4d77119e12305dbf39ed6a153b5074b818e745b28726ccda3372e63cef742f358c29bb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
