

body, .footer {
  background-color: #394450;
}

.wrapper {
  background-color: #f1f1ef;
}

.ocd-theme-7 .lw {
  .navbar-wp {
    background: none repeat scroll 0 0 #394450;
    border-top: 5px solid #B33E2E;
    border-bottom: 1px solid #2C343E;
    .navbar-nav > li > a {
      color: #fff;
    }
  }
  .pg-opt {
    h1 {
      font-size: 22px;
      line-height: 100%;
      margin: 0;
      padding: 14px 0;
    }
  }
}

.navbar {
  .navbar-header {
    .navbar-brand {
      color: #394450;
      background-color: #f1f1ef;
      border-radius: 0;
      display:block;
      font-weight: bold;
      height: 76px;
      line-height: 20px;
      margin: 0px;
      padding: 28px 16px 28px 15px;
      span {
        color:#b33e2e;
      }
    }
  }
}


#hero-index {
  background-image: url('/assets/declaration_of_independence_and_gavel.jpg');
  background-position: center 24%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  .content {
    color: #FFFFFF;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    h3 {
      font-family: "PT Sans",sans-serif !important;
      font-size: 32px;
      font-weight: 500;
      line-height: 38px;
      margin-bottom: 5px;
    }
    .citation {
      font-size: 20px;
    }
  }
}

.comments-wr {
  .comment {
    border-bottom: 1px solid #D0D0D3;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    p {
      margin-left: 0px;
    }
    .avatar {
      float:left;
    }
    .main {
      margin-left: 70px;
      .headline {
        padding: 5px 0;
        .name {
          font-size: 18px;
        }
      }
    }
  }
  .comment:first-child {
    border-top:none;
    padding-top: 0px;
  }
  .nested_comments {
    margin-left: 70px;
    form {
      margin-right: 20px;
    }
    .nested_comments {
      form {
      }
      .nested_comments {
        margin-left: 0px;
      }
    }
  }
}


