- content_for :title,  'Account Settings'

.row
  .col-lg-12
    .box
      .box-header
        %h2
          %i.icon-edit
          Account Details
      .box-content
        = simple_form_for [:user, @user], :url => profile_path, :html => { :class => '', role: 'form' } do |f|
          %fieldset.col-sm-12
            = render :partial => 'form', :locals => {:f => f, :user => @user}
            %hr.divider
            .form-actions
              = f.submit "Save Changes", class: "btn btn-primary"