%section#hero-index.slice
  .container
    .row
      .col-md-12.content
        %h3
          Knowledge will forever govern ignorance:
          %br
          And a people who mean to be their own Governors,
          %br
          must arm themselves with the power which knowledge gives.
        %p.citation
          &ndash; James Madison,
          %span.small 4 Aug 1822

